plugins {
    id 'nf-fairscape'
}

params {
    input = "${projectDir}/testdata.csv"
    outdir = 'results'
}

outputDir = params.outdir

fairscape {
    file = "${params.outdir}/ro-crate-metadata.json"
    overwrite = true
    author = "John Doe"
    keywords = ['test', 'nf-fairscape']
    license = "https://spdx.org/licenses/MIT"
}

manifest {
    name = "nf-fairscape-test"
    author = "John Doe"
    homePage = "https://github.com/fairscape/nf-fairscape"
    description = "Test pipeline for nf-fairscape"
    mainScript = "main.nf"
    nextflowVersion = "!>=25.10.0"
    version = "0.1.0"
    license = "https://spdx.org/licenses/Apache-2.0"
}
