// written by RO-Crate Studio — pass with `nextflow run . -c rocrate-studio.config`
plugins { id 'nf-fairscape@0.2.0' }
outputDir = 'results'
fairscape {
    file      = 'results/ro-crate-metadata.json'
    overwrite = true
    author    = 'test'
    description = 'testtesttest'
    license   = 'https://spdx.org/licenses/MIT'
    naan      = '59853'
    keywords  = ['test']
    schemas   = true
    checksums = false
    containerProvenance = false
}
